.tabs {
    border-right: 1px solid #bcbcbc;
}

.tabs .row {
    padding-bottom: 16px;
}

.horizontal-divider {
    border-top: 1px dashed #bcbcbc;
    padding-top: 8px;
}

.form-control[readonly]:not([disabled]) {
    background-color: white !important;
}
